body {
font-family: 'Montserrat', sans-serif;
margin: 0;
padding: 0;
}

p {
font-size: 25px; 
}

#naming {
  color: white;
}

li  {
  color: white;
list-style: none; 
margin-right: 25px;
}

.menu {
 display: flex; 
 justify-content: space-between; 
 align-items: center;
 padding: 20px; 
}

ul {
display: flex;
}

#titulo {
font-family: 'Playfair Display', serif;
} 

#titulo-2 {
font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none; 
  color: blue; 
  }
  
.titular {
text-align: center; 
margin-top: 130px;
}

h1 {
font-size: 60px; 
margin-bottom:20px;
color: white;
}

h2 { 
  color: white;
margin:0px;
font-size: 30px;
margin-bottom: 0px;
}

h4 {
  color: white;
margin-bottom: 60px;
}

a {
color: white;
background: #00909e;
padding: 10px 20px 10px 20px
 }

 header {
 background: url(salapx.jpg);
 height: 100vh;
 background-size: cover;  
 }
 
 .contenedor {
 max-width: 1280px;
 width: 90%;
 margin: auto; 
}

#casilla {
	cursor: pointer;
	transition: all 0.25s ease 0s;
}

#casilla:hover {
	color: #green;
	transform: scale(1.1); 
}
h3 {
text-align: center;
font-size: 55px; 
font-weight: normal;
font-family: 'Playfair Display', serif;
} 

#section1 {
  color: black;
font-weight: normal;
}

.contenedor-sobrenosotros {
display: flex; 
justify-content: space-around;
}

#section {
  padding: 10px;
  margin-bottom: auto;
}

.contenedor-parrafo-y-boton {
  width: 42%; 
  height: 42%;
  margin-top: 40px;
}

.contenedor-parrafo-y-boton p {
  font-size: 22px;
}

.contenedor-parrafo-y-boton a {
 margin-top: 20px;
 display: inline-block;
}

#imagen-section2 {
  padding-bottom: 100px;
}
